@charset "utf-8";


/*body
{
 background-image: url("hatter.jpg");
 background-repeat: no-repeat;
 background-position: top center;
}

/* 990px alatt eleje*/
/*@media (max-width: 990px) {
  
 body
{
 background-image: none;
}

}

/* 990px alatt vége*/ 
 /**/